@media screen and (max-width: 1022px) {
    #graph{
        width: 613px,
    }
  }
  @media screen and (max-width: 900px) {
    #graph{
        width: 540px,
    }
  }
  @media screen and (max-width: 800px) {
    #graph{
        width: 480px,
    }
  }
  @media screen and (max-width: 700px) {
    #graph{
        width: 420px,
    }
  }

.hwrapper{
  display: grid;
  grid-template-columns:60% 40%;
  grid-gap:1em;
  grid-auto-rows: minmax(100px,auto);
}

 .DivDecor{
  margin: 1em;
}
.outerdiv{
 margin: 1em;
}
.innerdiv{
  margin: 1em;
  margin-right: 5em;
  padding: 1em;
  text-align: center;
  border: 1px solid gray;
  border-radius: 10px;
  background-color: rgba(194, 194, 194, 0.384);
}
/*
.buttonDecor{
    background-color: white;
    border: 2px solid grey;
    border-radius: 5px;
    color: grey;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
}
.buttonDecor:hover{
   font-weight: bold;
    color:grey;
} */
